# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# https://editorconfig.org

# top-most EditorConfig file
root = true

# common settings
[*]
indent_style = tab

#end_of_line = lf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = true

# settings for specific extensions
#
[*.{md,yml}]
indent_style = space
indent_size = 2
